@keyframes moveFrog {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(var(--randomX), var(--randomY));
    }
  }
  
  #frog-container {
    animation: moveFrog 2s infinite;
  }

  #frog-container {
    cursor: pointer;
    display:none;
  }
  